.App {
  height: 100vh;
  width: 100%;
  display: flex;
}
.navigation-bar {
  position: fixed;
  width: 20%;
  height: 100%;
  background: rgba(59, 57, 57, 0.836);
}

.showing {
  padding-left: 20%;
}

.tabs {
  text-align: center;
}

.tabs p {
  font-size: 20px;
  font-weight: 600;
  color: rgb(216, 203, 203);
  cursor: pointer;
}
.page-container {
  height: 100vh;
}
